h1,
.h1 {
  font-size: 54px; }

h2,
.h2 {
  font-size: 34px; }

h3,
.h3 {
  font-size: 22px; }

h4,
.h4 {
  font-size: 20px; }

h5,
.h5 {
  font-size: 16px; }

h6,
.h6 {
  font-size: 12px;
  text-transform: uppercase; }

.button {
  font-family: "Helvetica Neue", Helvetica, san-serif;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: #002b56;
  border-color: #002b56;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 13px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .button:hover {
    background-color: #003870;
    border-color: #003870; }
  .button.inverted {
    background-color: transparent;
    border: 1px solid #002b56;
    color: #002b56; }
    .button.inverted:hover {
      background-color: #eff7ff; }
