@import "../../globals/styles/colors";
@import "../../globals/styles/typography";

.button {
  @include font-regular;
  background-color: $midnightblue;
  border-color: $midnightblue;
  border-radius: 2px;
  color: $white;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 13px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: lighten($midnightblue, 5%);
    border-color: lighten($midnightblue, 5%);
  }

  &.inverted {
    background-color: transparent;
    border: 1px solid $midnightblue;
    color: $midnightblue;

    &:hover {
      background-color: lighten($midnightblue, 80%);
    }
  }
}
