.card-wrapper {
  max-width: 400px;
  width: 100%;
}

.card-metadata--image {
  width: 100%;
}

.card-metadata--name {

}

.card-metadata--rating {

}

.card-metadata--info {

}

.card-metadata--link {

}